.action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Fira Code";
    text-decoration: none;
    margin-right: 30px;
}

.action::before {
    content: "";
    background-color: white;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 20%;
}

.action:hover {
    transform: scale(1.08);
}