.buttonCV {
    display: inline-block;
    background-color: black;
    box-shadow: 5px 5px 6px black;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(.45, .97, .68, 2.48);
    font-family: "Fira Code";
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
}

.buttonCV:hover {
    background-color: white;
    color: black;
    transform: scale(1.08);
}